* {margin:0;padding:0;}
/* return default padding to dl,ol,ul; else the numbers start of the screen */
dl,ol,ul {margin:0 2em;padding:0}
dt {margin:0}
dd {margin:0 2em;}
* {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;} /* Thanks, Paul */
body {margin:0;padding:0;font-family: Helvetica, Arial, sans-serif;font-size:medium;}
img {border:0;margin:0;padding:0;}
a {text-decoration:none;} /* font-weight:bold;color:black; */
p {margin:0.5em 0;}
p.spacer {margin:1em;}

#header {
	height:4em;
	font-size:large;
}
#footer {
	height:3em;
	font-size:small;
	position:fixed; bottom:0;
	width: 100%;
}
#notification {
	height:3em;
	transition:all 2s ease-in-out;
}

.info {background-color: #4ea5cd; border-color: #3b8eb5;}
.success {background-color: #61b832;border-color: #55a12c;}
.error {background-color: #de4343; border-color: #c43d3d;}
.warning {background-color: #eaaf51;border-color: #d99a36;}

.collapse {visibility:collapse;display:none;}
.hidden  {visibility:hidden;display:none;}
.visible {visibility:visible;display:block;}
